head {
	background-attachment: scroll;
	background-image: url(images/vectorSquares.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;

}

.main.body {
	background-color:#001a09;
}

.center_body {
	display: block;
	left: 100px; top: 200px; bottom: 0;
	width: 178px;
}

.contact {
	font-family: 'Poiret One', cursive;
	font-size: 15px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30em;
	color: #b3ffff;
}

@font-face {
	font-family: 'Poiret One', cursive;
	font-style: normal;
	font-weight: 400;
	src: local('Poiret One'), url(https://fonts.googleapis.com/css?family=Poiret+One&subset=latin) format('cursive');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
   }

.contact a {
	font-family: 'Poiret One', cursive;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 30em;
	color: #e6ffff;
}

h1 {
	text-align: center;
}

.info {
	list-style: none;
	font-size: 14px;
	float:bottom;
	margin-left: auto;
	margin-right: auto;
	width: 30em;
	text-align: center;

}

.info li {
	display: inline-block;
}
.imgdiv {
	display: block;
	float:center;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 70em;
}
@-webkit-keyframes picturemovement{
	from{left: 0px;}
	to{left: 3000px;}
}
.imgdiv img {
	-webkit-transition: opactiy 1s ease-in-out;
	-webkit-animation-name: picturemovement;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
.imgdiv img.top:hover{
	opacity: 0;
}
.links {
	font-style: inherit;
	color: #00e6b8;
	text-decoration: none;
	padding-left: 1em;
	padding-right: 1em;
	background-color: none;
}

.lsidebar {
	position:absolute;
    left:0; top:200px; bottom: 0;
    width: 178px;
}

.menu {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.me {
	color: #66ff99;
	text-align: center;
	font-size: 28px;
	font-family: 'Poiret One', cursive;
}

.rsidebar {
	position:absolute;
	right:75px; top:200px; bottom:0;
	width: 178px;
}

.project {
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	float:center;
	width: 30em;
}
.reference {
	position:fixed;
	text-align: right;
	width: 100%;
}

nav.reference button[type=button] {
	/*Position*/
	vertical-align: top;

	/*Display & Box Model*/
	border: none;
    border-radius: 4px;
	display: -webkit-inline-box;
	float: right;
    padding: 12px 48px;
    margin: 8px 0;

	/*Color*/
	background-color: #001a09;
    color: #00e6b8;
	border-style: groove;
    border-bottom-color: #00e6b8;
    border-right-color: #66ff99;
    border-left-color: #66ff99;
    border-top-color: #00e6b8;

	/*Text*/
	text-align: center;
	text-decoration: none;

	/*Other*/
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

nav.reference button[type=button]:hover {
	background-color: #00e6b8;
    color: white;
}

.resume {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	float:center;
	width: 30em;
}
.page_info {

}

.page_info_h2 {
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	width: 30em;
	float:bottom;

}
.portfolio_body {
	-webkit-animation-name: colorchange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	height: 100%;
    background-color: #4cd16d;
}

.portfolio_h1 {
	position:relative;
	-webkit-animation-name: colorchange;

}

.project_list {
	position:static;
	float:center;
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	width:50%;
	height: 800px;
}

.project_list_th {
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
}

.projects {
	font-size: 25px;
	color: white;
	text-align: center;
}

.projects a {
	color: white;
}

.projects li  {
	list-style-position: inside
}


@media only screen and (max-device-width: 1024px) {
    .redwood {
        background-attachment: scroll;
    }
	.water {
		background-attachment: scroll;
	}
}

.redwood {
	min-height: 500px;
	background-image: url(https://res.cloudinary.com/skypeia/image/upload/v1499919629/redwoods_tolgum.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.water {
	min-height: 500px;
	background-image: url(https://res.cloudinary.com/skypeia/image/upload/v1500098307/ocean_tyubzu.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.writing{
	color:#66ccff;
	font-size: 36px;
	font-family: 'Poiret One', cursive;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
